<%- include('../partials/top-document') %> 
</head>

<body>
  <%- include('../partials/header') %>
  <h1>Admin products list</h1> 
  <ul>
    <% products.forEach(product => { %> 
      <li><%= product.title %> </li>
    <% }) %> 
  </ul>
</body>
</html>