  <%- include('../partials/top-document') %> 
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <%- include('../partials/header') %>
  <h1>HOME PAGE TEST</h1>
  <main>
    
  </main>

  <%- include('../partials/footer') %>
</body>
</html>